
#sike-pona * {
  font-family: Barlow, Georgia, serif;
}

#sike-pona a {
  color: inherit;
}

#sike-pona {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.1em;

  display: flex;

  padding: 0.5em;

  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

#sike-pona #left { text-align: left; }
#sike-pona #mid { text-align: center; }
#sike-pona #right { text-align: right; }

#sike-pona #left, #sike-pona #right {
  flex-grow: 1;
  flex-basis: 0;
}

#sike-pona .tokipona {
  height: 1em;
  margin: 0 5px;
  vertical-align: text-top;
  animation: swim .7s infinite forwards linear;
  transform-origin: 50% 80%;

}

@keyframes swim {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
