<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/jpg" href="/assets/favicon.jpg"/>

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta name="theme-color" content="#000087" />


    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    {{ content }}
  </body>

  <script type="text/javascript" src="/script.js"></script>
  <!-- <script type="text/javascript" src="/header.js"></script> -->

</html>
